
:root{
    --primary: #F59E0B;
    --secondary:#D97706;

}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Kalam', cursive;
}
/* to apply bg a image with opacity 50% */
.bg-image{
    overflow-x: hidden;
}
.bg-image img{
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}


.place-over-bg{
    position: absolute;
    top:0;
    width: 100%;
}

/* translation section */

.box{
    width: 100%;
    border: none;
    border-radius: 1.5rem;
    height: 110px;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Kalam', cursive;
}
#output{
    overflow-y:scroll;
}

#output::-webkit-scrollbar {
    background: transparent; 
  }
  

.container{
    width:100%;
    max-width: 600px;
    min-height: 100px;
    margin: auto;
    word-wrap: break-word;
    padding: 0 20px;
}

#translateBtn{
    border: none;
    border-radius: 25px;
    padding: 0.6rem 2rem 0.4rem;
    margin: 0.5rem;
    font-family: 'Kalam', cursive;
    cursor: pointer;
}


.text-center{
    text-align: center;
}


.text-left{
    text-align: left;
}
        

/* footer */
.footer{
    padding-bottom: 20px;
}

.flex{
    display: flex;
    justify-content: center;
}
.footer-header{
    padding: 1rem 0.5rem;
}
ul{
    padding-inline-start: 0px;
    margin: 0;
}

.list li{
    padding: 0rem 2rem;
       
}

i.fab::before {
    font-size: 2rem;

}

.non-bullet-list{
    list-style: none;
}
